.about-wrapper {
    padding-top: 70px;
}

.programming {
    display: inline-block;
    width: 100%;
    color: #E8A87C;
}

.programming-skill {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.console-header {
    background: #CFD8DC;
    height: 20px;
}

.console-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
}

.console-buttons {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.btn-1 {
    background: #8BC34A;
}

.btn-2 {
    background: #FFB74D;
}

.btn-3 {
    background: #D32F2F;
}

ul {
    line-height: 2;
    font-size: 14px;
}

.no-top-padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 0px;
}

.html-1 {
    color: #EF5350;
}

.html-2 {
    color: #FFCC80;
}

.about-spacing {
    line-height: 2;
    font-size: 14px;
}

.teal {
    color: #41B3A3;
}

.tan {
    color: #E8A87C;
}

.align-left {
    align: left;
}